<div class= "container">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Last name</label>
        <%= text_field_tag 'last_name', @user.last_name, class: "form-control mb-3" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress2">First name</label>
        <%= text_field_tag 'first_name', @user.first_name, class: "form-control mb-3" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Desription</label>
        <%= text_field_tag 'description', @user.description, class: "form-control mb-3" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Age</label>
        <%= text_field_tag 'age', @user.age, class: "form-control mb-3" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <%= text_field_tag 'city_name', @city.name, class: "form-control mb-3" %>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <%= text_field_tag 'city_zip_code', @city.zip_code, class: "form-control mb-3" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <%= text_field_tag 'email', @user.email, class: "form-control mb-3", required: true %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <%= password_field_tag 'password', @user.password, class: "form-control mb-3", required: true  %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Confirmation password</label>
        <%= password_field_tag 'password_confirmation', @user.password_confirmation, class: "form-control mb-3", required: true  %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  <% end %>
</div>